<div class="container mt-3" style="max-height:500px; max-width:500px;">
    <div class="card">
        <img class="card-img-top mx-auto img-fluid" src="https://cdn-icons-png.flaticon.com/512/3230/3230580.png" style="max-height: 300px; max-width:350px;" />
        <div class="card-body text-center">
            <h3 class="card-title">Email Confirmation</h3>
            <p class="card-text">We have sent a confirmation to your email address. Please check your inbox and follow the instructions to complete the verification process.</p>
            <p class="card-text">If you don't receive the email within a few minutes, please check your spam folder.</p>
            <a asp-controller="home" asp-action="index" class="btn btn-primary">Go to Home</a>
        </div>
    </div>
</div>
