<div class="d-flex align-items-center justify-content-center vh-100 error-page">
    <div class="text-center">
        <img src="https://www.freeiconspng.com/thumbs/error-icon/error-icon-32.png" />
        <p class="fs-3"> <span class="text-danger">Opps!</span> An error occurred</p>
        <p class="lead">
            Sorry, but something went wrong. Please try again later.
        </p>
        <a href="/index" class="btn btn-primary">Go Home</a>
    </div>
</div>
